table {
  font-size: 14pt;
}

table th {
  border-bottom: 1px solid black!important;
}

table td {
  border-bottom: 0!important;
}

.suptable th:last-child {
  color: orange;
}

.suptable th:not(:last-child):not(:first-child) {
  color: blue;
}

.labtable th:last-child {
  color: orange;
}

.labtable th:not(:last-child):not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  color: blue;
}

.unsuptable th:not(:first-child) {
  color:blue;
}

tbody > tr:hover {
  background-color: lightblue;
}

.colA {
  color: blue;
}

.colB {
  color: orange;
}

.colC {
  color: darkgreen;
}

.colD {
  color: darkred;
}

.mono {
  font-family: Monospace;
}

.smaller-lines ul {
  line-height: 1.1!important;
  margin-bottom: 8px!important;
}

.smaller-lines li {
  margin-top: 0.2em!important;
}

.regular-lines ul {
  line-height: 1.3!important;
  margin-bottom: 8px!important;
}

.regular-lines li {
  margin-top: 0.3em!important;
}

.smaller-lines img#math {
  max-width: 70%!important;
  height: auto!important;
}

.smaller-lines img#goog {
  max-width: 68%!important;
  height: auto!important;
}

.shorter-svg {
  height: 20%;
}

img#ntm {
  max-width=50%!important;
  margin-top: 0!important;
}
